@import '../../variables.scss';

.div-green{
  height: 35vh;
  background: $success-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  svg{
    font-size: 53px;
  }
  h1{
    font-size: 18px;
  }
}
.div-message{
  height: 65vh;
  color: $text-primary;
  font-size: 14px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 1.5;
}