@import "./variables";

.section-one{
  height: 100vh;
  width: 100vw;
  position: relative;
  .text{
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    h2{
      font-size: 32px;
      margin: 0;
      margin-bottom: 16px;
    }
  }
}
.div-background{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('../../img/party-background.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
}
.section-two, .section-three, .section-four, .section-five{
  width: 100vw;
  min-height: 100vh;
  background-color: $dark-blue;
  padding: 70px 20px 0;
  box-sizing: border-box;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: linear-gradient(180deg, rgba(0,25,50,1) 0%, rgba(0,50,100,1) 100%);
}
.section-three, .section-five{
  background: linear-gradient(0deg, rgba(0,25,50,1) 0%, rgba(0,50,100,1) 100%);
}
.section-five{
  justify-content: flex-start;
  padding-bottom: 30px;
}
.rigth{
  text-align: right;
}
h3{
  margin: 0;
  font-size: 15px;
}
.section-one .button, .section-two .button, .section-three .button, .section-four .button{
  position: absolute;
  bottom: 20px;
  top: auto;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
}
.center-button{
  position: relative;
}
.text-and-image{
  display: flex;
  align-items: center;
  justify-content: center;
  h3{
    max-width: calc(100vw - 13vh - 60px);
  }
}
.horizontal-space{
  width: 20px;
}
.image{
  width: 13vh;
}
.fade{
  width: 100vw;
  height: 15vh;
  background: rgb(0,25,50);
  background: linear-gradient(0deg, rgba(0,25,50,1) 0%, rgba(0,50,100,0) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
}