@import url('https://fonts.googleapis.com/css?family=Comfortaa:300&display=swap');
@import './variables.scss';

body {
  margin: 0;
  font-family: 'Comfortaa', Arial;
  background: $background-default;
}